@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Rest of your CSS code goes here */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Roboto Slab", serif;
}

html {
  height: 100%;
}

body {
  background-color: var(--forum-theme-background-color);
  height: 100%;
  overflow-x: hidden;
}

#root {
  height: 100%;
}
