.ellipse-1 {
  width: 10px;
  height: 10px;
  top: 513.958251953125px;
  left: 774.1026611328125px;
  position: absolute;
}
.ellipse-2 {
  width: 10px;
  height: 10px;
  top: 513.958251953125px;
  left: 834.1026611328125px;
  position: absolute;
}

.ellipse-3 {
  width: 10px;
  height: 10px;
  top: 513.96px;
  left: 894.1px;
  position: absolute;
}
.ellipse-4 {
  width: 10px;
  height: 10px;
  top: 513.958251953125px;
  left: 954.1026611328125px;

  position: absolute;
}
.ellipse-5 {
  width: 10px;
  height: 10px;
  top: 513.958251953125px;
  left: 1014.1026611328125px;

  position: absolute;
}
.ellipse-6 {
  width: 10px;
  height: 10px;
  top: 513.958251953125px;
  left: 1074.1026611328125px;

  position: absolute;
}
.ellipse-7 {
  width: 10px;
  height: 10px;
  top: 513.958251953125px;
  left: 1134.1026611328125px;

  position: absolute;
}
.ellipse-8 {
  width: 10px;
  height: 10px;
  top: 513.958251953125px;
  left: 1194.1026611328125px;

  position: absolute;
}
.ellipse-9 {
  width: 10px;
  height: 10px;
  top: 513.958251953125px;
  left: 1254.1026611328125px;

  position: absolute;
}
.ellipse-10 {
  width: 10px;
  height: 10px;
  top: 513.958251953125px;
  left: 1314.1025390625px;

  position: absolute;
}
.ellipse-11 {
  width: 10px;
  height: 10px;
  top: 453.958251953125px;
  left: 1314.1025390625px;

  position: absolute;
}
.ellipse-12 {
  width: 10px;
  height: 10px;
  top: 393.958251953125px;
  left: 1314.1025390625px;

  position: absolute;
}
.ellipse-13 {
  width: 10px;
  height: 10px;
  top: 333.958251953125px;
  left: 1314.1025390625px;

  position: absolute;
}
.ellipse-14 {
  width: 10px;
  height: 10px;
  top: 213.958251953125px;
  left: 1314.1025390625px;

  position: absolute;
}
.ellipse-15 {
  width: 10px;
  height: 10px;
  top: 153.958251953125px;
  left: 1314.1025390625px;

  position: absolute;
}
.ellipse-16 {
  width: 10px;
  height: 10px;
  top: 453.958251953125px;
  left: 1314.1025390625px;

  position: absolute;
}
.ellipse-17 {
  width: 10px;
  height: 10px;
  top: 453.958251953125px;
  left: 1314.1025390625px;
  position: absolute;
}
.ellipse-18 {
  width: 10px;
  height: 10px;
  top: 513.958251953125px;
  left: 1314.1025390625px;

  position: absolute;
}
